
.finish{
    height: 100px;
    text-align: center;
    font-size: 1rem;
    background-color: black;
    color: white;
    padding-top: 40px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.App{
    width: 100% !important;
    margin:0 !important;
}

body{width: 100%;}